<div class="hero-unit" style="padding-bottom: 20px;">
    <div class="row-fluid">
        <div class="span5">
            <img src="images/splash.png">
        </div>

        <div class="span7">
            <h2>Movie Actors</h2>
            <p>Many of them</p>
        </div>
    </div>

</div>

<div class="row-fluid">
    <div class="span4">
        <h2>Find Actors or Movies</h2>
        <p>Type a few characters and select your actor or movie</p>
        <p>You can also edit and relate any content</p>

        <p><a id="searchNow" class="btn" href="#">Search</a></p>
    </div>
    <div class="span4">
        <h2>Add Actors or Movies</h2>
        <p>Add new or missing content</p>
    </div>
    <div class="span4">
        <h2>Rate Movies</h2>
        <p>and so on</p>
    </div>
</div>
