<div id="details" class="span7">
    <p><img src="localImage" width="160" height="160"/></p>
    <h3><%= name %></h3>
    <h4><%= directorName %></h4>
    <br>
    <table class="table table-striped">
        <tr>
            <td>Name:</td>
            <td> <input type="text" name="name" value="<%= name %>"/> </td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td> <input type="text" name="genre" value="<%= genre %>"/> </td>
        </tr>
        <tr>
            <td>Director Name:</td>
            <td> <input type="text" name="directorName" value="<%= directorName %>"/> </td>
        </tr>
        <tr>
            <td>Release Year:</td>
            <td> <input type="text" name="releaseYear" value="<%= releaseYear %>"/> </td>
        </tr>
        <tr>
            <td>Gross Income:</td>
            <td> <input type="text" name="grossIncome" value="<%= grossIncome %>"/> </td>
        </tr>
    </table>

    <div class="alert alert-warning">
        <h4 class="alert-heading">Changes are saved automatically</h4>
        <hr />
        <a href='#movie/view/<%= id %>' class="btn">
            Go back
        </a>
    </div>
</div>
<div class="span5">
    <div class="well">
        <h3 class="modal-header">Cast</h3>
        <ul class="nav nav-list actor-list"></ul>
        <div class="alert alert-info no-actors">
            <h4 class="alert-heading">Info</h4>
            no actors
        </div>
    </div>
</div>
