<div id="details" class="span7">
    <p><img src="localImage" width="160" height="160"/></p>
    <h3><%= name %></h3>
    <h4><%= directorName %></h4>
    <br>
    <table class="table table-striped">
        <tr>
            <td>Genre:</td>
            <td> <%= genre %></td>
        </tr>
        <tr>
            <td>Director Name:</td>
            <td> <%= directorName %></td>
        </tr>
        <tr>
            <td>Release Year:</td>
            <td> <%= releaseYear %></td>
        </tr>
        <tr>
            <td>Gross Income:</td>
            <td> <%= grossIncome %></td>
        </tr>
    </table>
</div>
<div class="span5">
    <div class="well">
        <h3 class="modal-header">Cast</h3>
        <ul class="nav nav-list actor-list"></ul>
        <div class="alert alert-info no-actors">
            <h4 class="alert-heading">Info</h4>
            no actors
        </div>
    </div>
</div>
